* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
}

h2 {
    font-size: 32px;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

.logo-header{
    width: 20%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.hero-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-left: 40px;
    height: 85vh;
    background-image: url(imagenes/banner-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 50%;
    width: 300px;
    color: white;
}

.hero-content p {
    font-size: 18px;
}

.hero-content button {
    height: 40px;
    background-color: #73e400;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content button:hover {
   background-color: #66b01c;
}

.about-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    height: 100vh;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: right;
    width: 50%;
    height: 80%;
    padding: 60px;
}

.about-text h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.services-container {
    background: #66b01c;
    background: linear-gradient(135deg, rgb(0, 77, 153) 23%, rgb(102, 176, 28) 80%);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;
    color: white;
}

.list-services ul {
    display: flex;
    align-items: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
}

.service {
    height: 70vh;
    width: 300px;
    margin: 25px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    color: #333;
}

.service img {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.service h3 {
    height: 70px;
    justify-content: center;
}

.service p {
    padding: 15px;
}

footer {
    background-color: #004d99;
    color: white;
}

.contact-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 60px;
    color: white;
    line-height: 1.6;
}

.contact-container img {
    width: 50%;
}

.derechos{
    background-color: #3333334b;
    text-align: center;
    padding: 15px 0px;
}

